<h1>¡Tu banner está por renovarse!</h1>
<p>Hola, este es un recordatorio de que tu banner vinculado a <strong>{{link}}</strong> se renovará en automaticamente.</p>
<p>Si no querés que se renueve, podés cancelar la renovación en la sección de banners.</p>